{% extends "newstraining/base.html" %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Job Detail
        </div>
        <div class="card-body">
            <p class="card-text">Your training job is configured and stored successfully.</p>
            <p>Inputs: {% for input in inputs %}{{ input }}{% endfor %}</p>
            <p>Output: {{ output }}</p>
            <p>Algorithm: {{ algorithm }}</p>
            <a href="#" class="btn btn-primary">See all job details</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
{% endblock content %}